<html>
    <header>
        <title>ConvertMyMoney</title>
        <link href="/estilos.css" rel="stylesheet" >
    </header>
    <body>
        <navbar>
            <h1 class="header" ><a href="/"><img src="/logo.png" alt="Convert My Money" ></a></h1>
        </navbar>
        
