body {
    text-align: center;
}

h1 img {
    width: 489px;
    margin: 20px;
}

input {
    background: #fdfdfd;
    font-size: 24px;
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
}

button {
    font-size: 24px;
    padding: 10px;
    margin: 6px;
}

.header {
    height: 10%;
}

.result{
    padding: 20px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;

}

.rodape{
    margin-top: 5em;
    padding: 2em;
}

.corpo{
    height: 10em;
}

footer {
    /* background: #037c54; */
    color: #d8d8d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}